<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ajouter</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body> 

<header class="site-header">
    <h1 class="site-title">
    <span class="material-symbols-outlined">calendar_add_on</span>
    Ajouter un événement</h1>
    <img src="{{ url_for('static', filename='img/b12.png') }}"
         class="site-logo"
         alt="B12 logo">
</header>

<div class="b12cd-bg">
<div class="page">

    <form method="post">

        <div class="field">
            <label>Date :</label>
            <input type="date" name="date" required>
        </div>

        <div class="field">
            <label>Heure :</label>
            <input type="time" name="heure" required>
        </div>

        <div class="field">
            <label>Type :</label>
            <select name="type" required>
                <option value="repet">Répétition</option>
                <option value="concert">Concert</option>
            </select>
        </div>

        <div class="field">
            <label>Titre :</label>
            <input name="titre" required>
        </div>

        <div class="field">
            <label>Lieu :</label>
            <input name="lieu">
        </div>

        <button class="btn-primary">Ajouter et retour calendrier</button>

    </form>

    <br>

    <a href="/" class="back-calendar">← Retour au calendrier</a>

</div>
</div>

</body>
</html>
