<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body class="page-add">

<header class="site-header">

    <h1 class="site-title">
        <span class="material-symbols-outlined logo-yellow">how_to_reg</span>
        Inscription
    </h1>

    <img src="{{ url_for('static', filename='img/b12.png') }}"
         class="site-logo"
         alt="B12 logo">

</header>

<div class="page">
	<form method="GET" action="/inscription/membre">
	
	    <select name="membre_id" required>
	        <option value="">-- Choisir un musicien --</option>
	
	        {% for m in membres %}
		    {% if m['status'] != "former" %}
	               <option value="{{ m.id }}">
	                   {{ m.nom }}
	               </option>
		    {% endif %}
	        {% endfor %}
	    </select>
	
	    <button type="submit" class="btn-primary">
	        Continuer
	    </button>
	
	</form>	
</div>


</body>
</html>
