<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <header class="site-header">    
        <h1 class="site-title">Le calendrier du B12</h1>
        <img src="/static/img/b12.png" class="site-logo" alt="B12 logo">
    </header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="actions">
    <h2>Rajouter répétition / concert</h2>
    <a href="/add">➕ Ajouter événement</a>
</div>

<div class="filters">
    <h2>Filtres</h2>
    <a href="/?filtre=tout">Tout</a> |
    <a href="/?filtre=repet">Répétitions</a> |
    <a href="/?filtre=concert">Concerts</a> |
    <a href="/?filtre=1m">1 mois</a> |
    <a href="/?filtre=3m">3 mois</a> |
    <a href="/?filtre=6m">6 mois</a>
</div>

<div class="calendar">
    {% for event in events %}
        <div class="card {{ event['type'] }}">
            <div class="content">
                <div class="title">
                    {% if event['type'] == "repet" %}
                        🎼 Répétition
                    {% else %}
                        🎺  🥁 Concert 🎸 🎷
                    {% endif %}
                </div>

                <div class="info">
                    {{ format_date_fr(event["date"]) }} à {{ event["heure"] }}<br>
                    <b>{{ event["titre"] }}</b><br>
                    {{ event["lieu"] }}
                </div>
            </div>

            <div class="actions-bottom">

                <a class="status-btn inscription" href="/inscription/{{ event['id'] }}">
                    Inscription
                </a>

                <div class="status-row">
                    <button class="status-btn absent"
                            onclick="toggle('abs',{{ event['id'] }})">
                        <span class="icon"> ❌ </span>
                        <span class="count">{{ stats_by_event[event['id']]['absent'] }}</span>
                    </button>
                
                    <button class="status-btn pending"
                            onclick="toggle('pend',{{ event['id'] }})">
                        <span class="icon"> ❓ </span>
                        <span class="count">{{  stats_by_event[event['id']]['nsp']  }}</span>
                    </button>
                
                    <button class="status-btn present"
                            onclick="toggle('pres',{{ event['id'] }})">
                        <span class="icon"> ✅</span>
                        <span class="count">{{ stats_by_event[event['id']]['present'] }}</span>
                    </button>
                </div>
            </div>

            <div id="abs{{ event['id'] }}" class="hidden">
                {% set statuses = status_by_event[event['id']] %}
                    {% for m in membres | sort(attribute='nom') %}
                        {% if statuses.get(m['id']) == "absent" %}
                            ✖ {{ m['nom'] }}<br>
                        {% endif %}
                    {% endfor %}
            </div>
            
            <div id="pend{{ event['id'] }}" class="hidden">
                {% set statuses = status_by_event.get(event['id'], {}) %}
                {% for m in membres | sort(attribute='nom') %}
                    {% if statuses.get(m['id']) not in ["present", "absent"] %}
                        ? {{ m['nom'] }}<br>
                    {% endif %}
                {% endfor %}
            </div>
            
            <div id="pres{{ event['id'] }}" class="hidden">
                {% set statuses = status_by_event[event['id']] %}
                    {% for m in membres | sort(attribute='nom')%}
                        {% if statuses.get(m['id']) == "present" %}
                            ✔ {{ m['nom'] }}<br>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<h3>Administration</h3>
<a href="/download-db">
    📥 Télécharger la base de données
</a>
<script>
function toggle(type,id) {
    const types = ["abs", "pend", "pres"];
    types.forEach(t => {
        const el = document.getElementById(t + id);
        if (!el) return;

        if (t === type) {
            el.classList.toggle("hidden");
        } else {
            el.classList.add("hidden");
        }
    });
}
</script>
</body>
</html>
