<!DOCTYPE html>
<html>
<head>
    <title>B12 Calendrier</title>
</head>
<body>

<h1>🎺 B12 - Calendrier</h1>

<h2> Rajouter repet/concert </h2>
<a href="/add">➕ Ajouter événement</a>


<h2>Filtres</h2>
<a href="/?filtre=tout">Tout</a> |
<a href="/?filtre=repet">Répétitions</a> |
<a href="/?filtre=concert">Concerts</a> |
<a href="/?filtre=1m">1 mois</a> |
<a href="/?filtre=3m">3 mois</a> |
<a href="/?filtre=6m">6 mois</a>

<table border="1" cellpadding="5">

<tr>
    <th>Date</th>
    <th>Heure</th>
    <th>Type</th>
    <th>Titre</th>
    <th>Lieu</th>
    <th>Éditer</th>
    <th>Présences</th>
    <th>Inscription</th>
</tr>


{% for event in events %}

<tr>
    <td>{{ event["date"] }}</td>
    <td>{{ event["heure"] }}</td>
    <td>{{ event["type"] }}</td>
    <td>{{ event["titre"] }}</td>
    <td>{{ event["lieu"] }}</td>

    <td>
        <a href="/edit/{{ event['id'] }}">✏️</a>
    </td>

    <td>
        <button onclick="toggle('{{ event['id'] }}')">👥 voir inscrits</button>

        <div id="p{{ event['id'] }}" style="display:none; margin-top:5px;">
            {% for m in membres %}
                {% if m['id'] in presences_by_event[event['id']] %}
                    ✔ {{ m['nom'] }}<br>
                {% endif %}
            {% endfor %}

        </div>
    </td>

    <td>
    <a href="/inscription/{{ event['id'] }}">📝 inscription</a>
    </td>
</tr>

{% endfor %}
</table>

<script>
function toggle(id) {
    const el = document.getElementById("p" + id);

    if (el.style.display === "none") {
        el.style.display = "block";
    } else {
        el.style.display = "none";
    }
}
</script>

</body>
</html>
