<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body class="page-add">
<header class="site-header">
    <h1 class="site-title">
    <span class="material-symbols-outlined">edit_calendar</span>
	Inscription 
     </h1>
    <img src="{{ url_for('static', filename='img/b12.png') }}" class="site-logo">
</header>

<div class="page">
	<h2>Inscription - {{ membre.nom }}</h2>
        <a href="/" class="back-link">← Retour au calendrier</a>

	<div class="events-list">
	
	    {% for event in events %}
	
	        <div class="event-card {{ event.type }}">
	
	            <div class="event-info">
	                <b>{{ event.titre }}</b><br>
	                {{ format_date_long(event["date"]) }} à {{ event.heure }}<br>
	            </div>
	
	            <form method="POST" action="/inscription" class="status-form">

	                <input type="hidden" name="event_id" value="{{ event.id }}">
	                <input type="hidden" name="membre_id" value="{{ membre.id }}">
	
	                {% set current = presences.get(event.id, "") %}
	
	                <button name="statut" value="present"
				onclick="sessionStorage.setItem('scrollY', window.scrollY)"
	                        class="btn-status {% if current == 'present' %}active{% endif %}">
			    <span class="material-symbols-outlined status-icon present"> check_circle </span>
	                    présent.e
	                </button>
	
	                <button name="statut" value="absent"
				onclick="sessionStorage.setItem('scrollY', window.scrollY)"
	                        class="btn-status {% if current == 'absent' %}active{% endif %}">
			    <span class="material-symbols-outlined status-icon absent"> cancel </span>
	                    absent.e 
	                </button>
	
	                <button name="statut" value="pending"
				onclick="sessionStorage.setItem('scrollY', window.scrollY)"
	                        class="btn-status {% if current == 'pending' %}active{% endif %}">
			    <span class="material-symbols-outlined status-icon pending"> help </span>
	                    ne sais pas
	                </button>
	
	            </form>
	
	        </div>
	
	    {% endfor %}
	
	</div>
    <br>
    <a href="/">← Retour au calendrier</a>
</div>

<script>
const y = sessionStorage.getItem("scrollY");

if (y !== null) {
    window.scrollTo(0, parseInt(y));
    sessionStorage.removeItem("scrollY");
}
</script>

</body>
</html>
