<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="page-inscription {% if event['type'] == 'concert' %}concert{% else %}repet{% endif %}">
<header class="site-header">
    {% if event['type'] == 'concert' %}
        <h1 class="site-title">🎺 🥁 Inscription 🎸🎷</h1>
    {% else %}
        <h1 class="site-title">🎼 Inscription</h1>
    {% endif %}
    <img src="{{ url_for('static', filename='img/b12.png') }}" class="site-logo">
</header>

<div class="page">

    <p>
        <strong>{{ event["titre"] }}</strong><br>
        {{ format_date_fr(event["date"]) }} à {{ event["heure"] }}
    </p>

    <form method="POST" action="/inscription">

        <input type="hidden" name="event_id" value="{{ event['id'] }}">

        <!-- Musicien -->
        <label for="membre_id">Musicien</label>
        <select name="membre_id" id="membre_id" required>
            <option value="" selected disabled>
                -- Choisir un.e B-douzien.ne --
            </option>
            {% for m in membres %}
                <option value="{{ m['id'] }}">{{ m['nom'] }}</option>
            {% endfor %}
        </select>

        <!-- Participation -->
        <label for="statut">Participation</label>
        <select name="statut" id="statut">
            <option value="present"> Je serai présent.e ✅ </option>
            <option value="absent"> Je serai absent.e ❌</option>
            <option value="nsp">Je ne sais pas (encore)❓</option>
        </select>

        <button type="submit">Valider</button>

    </form>
    <br>
    <a href="/">← Retour au calendrier</a>
</div>

</body>
</html>
