<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musiciens</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
<header class="site-header">
    <h1 class="site-title">
        <span class="material-symbols-outlined logo-yellow">groups</span>
        Musiciens
    </h1>
    <img src="{{ url_for('static', filename='img/b12.png') }}" class="site-logo" alt="B12 logo">
</header>

<div class="page">
	<div class="members-list">
		{% for m in membres %}
		    {%if m['status'] == 'active' %}
	        	<div class="member-item">
	
	        	    <div class="member-name">
	        	        {{ m['nom'] }}
	        	    </div>
	
	        	    {% if m['instruments'] %}
	        	        <div class="member-instruments">
	        	            {{ m['instruments'] }}
	        	        </div>
	        	    {% endif %}
	
	        	</div>
		   {% endif %}
		{% endfor %}
	</div>
	<div class="members-list">
		<h2> Les invités du B12 </h2>
		{% for m in membres %}
		    {%if m['status'] == 'guest' %}
	        	<div class="member-item">
	
	        	    <div class="member-name">
	        	        {{ m['nom'] }}
	        	    </div>
	
	        	    {% if m['instruments'] %}
	        	        <div class="member-instruments">
	        	            {{ m['instruments'] }}
	        	        </div>
	        	    {% endif %}
	
	        	</div>
		   {% endif %}
		{% endfor %}
	<div>
	<div class="members-list">
		<h2> B12 un jour, B12 toujours </h2>
		{% for m in membres %}
		    {%if m['status'] == 'former' %}
	        	<div class="member-item">
	
	        	    <div class="member-name">
	        	        {{ m['nom'] }}
	        	    </div>
	
	        	    {% if m['instruments'] %}
	        	        <div class="member-instruments">
	        	            {{ m['instruments'] }}
	        	        </div>
	        	    {% endif %}
	
	        	</div>
		   {% endif %}
		{% endfor %}
	<div>
	    <br>
	    <a href="/" class="back-calendar">← Retour au calendrier</a>
</div>
</body>
</html>
