<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Partitions</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>

<header class="site-header">

    <h1 class="site-title">
    <span class="material-symbols-outlined">library_music</span>
    Partitions</h1>

    <img src="{{ url_for('static', filename='img/b12.png') }}"
         class="site-logo"
         alt="B12 logo">

</header>
<div class="b12cd-bg">
<div class="page">

   <label class="form-label"> sur cette page on aura accès aux partitions</label>

    <br>
    <a href="/" class="back-calendar">← Retour au calendrier</a>
</div>
</div>

</body>
</html>
